
@{
    ViewBag.Title = "SimpleForm";
}

<h2>SimpleForm</h2>
<input type="text" name="input" placeholder="Username" /> <br />
<input type="password" name"password" placeholder="Password" />

<!DOCTYPE html>
<html>
<body>
    <form>
        Select your favorite color:
        <select id="mySelect" onchange="javascript:location.href = this.value;">
            <option id="changePage" value="blue">blue</option>
            <option id="changePage" value="red">red</option>


            <select onChange="document.location.href=this[selectedIndex].value"></select>
    </form>

    <button id="myButton" type="submit">Login</button>

</body>
</html >



